<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%HOME%\site\wwwroot\node_modules\.bin\next.cmd"
                  arguments="start"
                  stdoutLogEnabled="false"
                  stdoutLogFile="%HOME%\LogFiles\stdout"
                  startupTimeLimit="20"
                  startupRetryCount="10">
    </httpPlatform>
  </system.webServer>
</configuration>
